<div class="index">
    <center><h1>All Contenders</h1></center>
    <div class="info">
        <% @owners.each do |owner| %>
            <p class="name">
              Name: <%= link_to owner[:name], owner_path(owner) %>
          <img src="<%= owner[:img_url] %>" alt="">
           <%=link_to "Edit trainer", edit_owner_path(owner) %>
           

            </p>
            <!-- <p class="profile_pic"><img src="<%= owner[:img_url] %>" alt=""> </p>  -->
            <p class="edit_link">
<!--                 <%=link_to "Edit trainer", edit_owner_path(owner) %>
 -->            </p>
            <p >
           <%= button_to "Delete this trainer", owner, :method => :delete, data:{ confirm: "Are you sure you want to delete this trainer?" } %> </p>
                <% end %>
    </div>
<!--     <%= link_to "Create a owner", new_owner_path %>
 --></div>
    <p class="new"> <%= link_to "Create a Contender", new_owner_path %></p>
        <p class="new"> <%= link_to "See Avalaible Cards", cards_path %></p>

